/* 
  ================
  COMPONENT STYLES
  ================
*/

/* MainDisplay */

#main-content {
  width: 1000px;
  padding: 20px 30px;
  margin: auto;
}

#main-partners-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 25px;
}

h1.title {
  text-align: center;
  font-size: 24pt;

  padding-bottom: 25px;
}

/* PartnerTile */

.partner-info {
  width: 450px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border: 1px solid #3d3d3d;
  border-radius: 12px;

  padding: 25px;
}

.partner-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.partner-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
.partner-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 15px;
}
.input-label {
  display: block;
  margin-bottom: 10px;
}

.text-input {
  margin-right: 10px;
}

.action-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


.partner-thumbnail {
  max-width: 330px;
  max-height: 150px;
}

.partner-info-container{ 
  width: 70%; 
  justify-content: center; 
  align-content: center;
  border: 1px solid black;
  height: auto;
  padding: 1em; 
  border-radius: 10px;
}