

/* container for the partner grid */
#main-partners-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
/* title styling */
h1.title {
  text-align: center;
  font-size: 24pt;
  padding-bottom: 25px;
}

/*partner information styling */
.partner-info {
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #3d3d3d;
  border-radius: 12px;
  padding: 25px;
  background-color: white; 
}
/* partner name styling */
.partner-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
/* partner logo styling*/
.partner-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
/* partner description styling */
.partner-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 15px;
}
/* input label styling*/
.input-label {
  display: block;
  margin-bottom: 10px;
}
/*text input styling*/
.text-input {
  margin-right: 10px;
}


/*partner logo styling*/
.partner-thumbnail {
  max-width: 330px;
  max-height: 150px;
}
/* Container for partner information form */
.partner-info-container {
  width: 70%;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  height: auto;
  padding: 1em;
  border-radius: 10px;
  background-color: white;
}
/* Header text styling */
.header-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
/* Checkbox field container styling */
.checkbox-field {
  display: flex;
  align-items: center;
}
/* Checkbox label styling */
.checkbox-field h3 {
  margin: 0;
  margin-right: 10px;
}
